import init.sun4i.usb.rc

on early-init
	export EXTERNAL_STORAGE /mnt/sdcard
	mkdir /mnt/sdcard 0000 system system
	# for backwards compatibility
	symlink /mnt/sdcard /sdcard
	
	mkdir /mnt/extsd 0000 system system
	mkdir /mnt/usbhost1 0000 system system

on fs
    mount ext4 /dev/block/nandd /system wait noatime nodev barrier=0

# try to mount /data
	wait /dev/block/nande
	mount ext4 /dev/block/nande /data wait noatime nosuid nodev barrier=0
	setupfs /dev/block/nande	
	umount /data
	exec /system/bin/logwrapper /system/bin/e2fsck -y /dev/block/nande    
	exec /system/bin/busybox mount -t ext4 -o noatime,nosuid,nodev,barrier=0,noauto_da_alloc,commit=15,nodelalloc /dev/block/nande /data 

# try to mount /cache
    mount ext4 /dev/block/nandh /cache wait noatime nosuid nodev barrier=0
	setupfs /dev/block/nandh
	umount /cache
    exec /system/bin/logwrapper /system/bin/e2fsck -y /dev/block/nandh 
    exec /system/bin/busybox mount -t ext4 -o noatime,nosuid,nodev,barrier=0,noauto_da_alloc,commit=15,nodelalloc /dev/block/nandh /cache 
        
    format_userdata /dev/block/nandi Novo7

on boot

#insmod key & tp driver
	insmod /system/vendor/modules/goodix_touch.ko

# touch key
    insmod /system/vendor/modules/hv2605.ko
    
# insmod mali driver 
	insmod /system/vendor/modules/ump.ko
	insmod /system/vendor/modules/mali.ko

#insmod gsensor driver
	insmod /system/vendor/modules/bma250.ko

# insmod vibrator      
    insmod /system/vendor/modules/sun4i-vibrator.ko 
    chmod 777 /sys/class/timed_output/sun4i-vibrator/enable

#csi module
	insmod /system/vendor/modules/videobuf-core.ko
	insmod /system/vendor/modules/videobuf-dma-contig.ko
	insmod /system/vendor/modules/gc0308.ko
	insmod /system/vendor/modules/gt2005.ko
	insmod /system/vendor/modules/sun4i_csi1.ko
	insmod /system/vendor/modules/sun4i_csi0.ko




		

